.movie-title{
  font-weight: normal;
  text-align: center;
  margin: 20px 0 10px;
}

.tip-wrapper{
  text-align: center;
  font-size: 12px;
}
.tip{
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 15px;
}
.tip.tip1{
  margin-top: 5px;
}
.tip.tip2{
  display: inline;
}
.tip.tip3{
  color: #000;
  font-weight: bold;
}

.list-wrapper{
  margin-top: 20px;
}

.block-wrapper{
  overflow: hidden;
}
.block-wrapper .block-item{
  float: left;
  margin-top: 15px;
}
.block-wrapper .block-item:hover{
  background-color: #fff;
}
.block-wrapper .block-item1{
  width: 22%;
  margin-left: 4%;
}
.block-wrapper .block-item1:nth-child(4n+1){
  margin-left: 0;
}
.block-wrapper .block-item2{
  width: 15%;
  margin-left: 2%;
}
.block-wrapper .block-item2:nth-child(6n+1){
  margin-left: 0;
}
.block-wrapper .block-item3{
  width: 18%;
  margin-left: 2.5%;
}
.block-wrapper .block-item3:nth-child(5n+1){
  margin-left: 0;
}

.block-wrapper .block-item .item-poster{
  position: relative;
  background-color: #ccc;
  overflow: hidden;
}
.block-wrapper .block-item .item-poster img{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.block-wrapper .block-item .item-title{
  height: 24px;
  text-align: center;
  font-size: 13px;
  padding: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow:ellipsis;
  white-space:nowrap;
}
.block-wrapper .block-item .item-title1{
  height: 40px;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.block-wrapper .block-item .item-subTitle{
  height: 32px;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
.ul-wrapper{
  overflow: hidden;
}
.ul-wrapper li{
  width: 25%;
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 12px;
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex;
}
.ul-wrapper li:hover{
  background-color: #fff;
}
.ul-wrapper li p{
  display: inline-block;
}
.ul-wrapper li a{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;             
  -webkit-flex: 1;    
  -ms-flex: 1;
  flex: 1;
  font-weight: bold;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-decoration: underline;
}
.ul-wrapper li em{
  color: #df3f1f;
}

.pagination-wrapper{
  margin-top: 30px;
  text-align: center;
}
.pagination-wrapper .pagination{
  display: inline-block;
}
.pagination-wrapper .pagination .pagination-item{
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 28px;
  margin-left: 10px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 5px;
}
.pagination-wrapper .pagination .pagination-item:first-child{
  margin-left: 0;
}
.pagination-wrapper .pagination .pagination-item.active{
  color: #fff;
  background-color: #333;
}
.pagination-wrapper .pagination .page-first{
  width: 48px;
  text-align: center;
}
.pagination-wrapper .pagination .page-on{
  margin-left: 10px;
}

.detail-wrapper .detail-title{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.detail-wrapper .detail-title1{
  margin-bottom: 0px;
}
.detail-wrapper .detail-title .label-version-1, .detail-wrapper .detail-title .score{
  display: none;
}
.detail-wrapper .info-wrapper .info-left{
  width: 300px;
  height: 400px;
  background-color: #ccc;
}
.detail-wrapper .info-wrapper .info-right{
  padding-left: 20px;
}
.detail-wrapper .info-wrapper .info-right img{
  display: none;
}
.detail-wrapper .info-right .info-right-item{
  margin-bottom: 15px;
}
.detail-wrapper .detail-item{
  overflow: hidden;
}
.detail-wrapper .detail-item .detail-item-title{
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.detail-wrapper .detail-item .detail-item-title1{
  margin-bottom: 15px;
}
.detail-wrapper .detail-item .detail-item-title2{
  margin-top: 10px;
}
.detail-wrapper .detail-item .detail-item-content{
  text-align: justify;
  overflow: hidden;
}
.detail-wrapper .detail-item .detail-item-content .detail-img{
  width: 49%;
  margin-left: 2%;
  margin-top: 15px;
  float: left;
  position: relative;
}
.detail-wrapper .detail-item .detail-item-content .detail-img:nth-child(odd){
  margin-left: 0;
}
.detail-wrapper .detail-item .detail-item-content .detail-img:before{
  content: '';
  display: block;
  padding-bottom: 55%;
  width: 0px;
}
.detail-wrapper .detail-item .detail-item-content .detail-img img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.detail-wrapper .detail-item .detail-item-content .center-img{
  display: block;
  width: 80% !important;
  height: auto !important;
  margin: 15px auto 0 !important;
}
.detail-wrapper .detail-item .detail-item-content .center-img.center-img1{
  width: 300px !important;
  min-height: 300px;
}
.detail-wrapper .detail-item .detail-item-content .video{
  display: block;
  width: 80%;
  height: 440px;
  margin: 15px auto 0;
  border: none;
  outline: none;
}
.detail-wrapper .detail-item .detail-item-content p{
  margin-top: 15px;
}
.detail-wrapper .detail-item .detail-item-content1 p{
  margin-top: 0;
}
.detail-wrapper .detail-item .detail-item-content span{
  display: none;
}
.detail-wrapper .detail-item .detail-item-content a:hover{
  color: #666;
}
.detail-wrapper .detail-item .detail-item-content .go-btn{
  text-decoration: underline;
}
.detail-wrapper .detail-item .download-title{
  text-align: center;
  margin-top: 20px;
}
.threedetail-wrapper .poster{
  display: block;
  width: 50%;
  margin: 0 auto;
}
.threedetail-wrapper p{
  background-color: transparent !important;
}
.fourdetail-wrapper .copy-btn{
  margin-left: 15px;
  font-weight: bold;
}
.fivedetail-wrapper .badge{
  color: #333 !important;
}
.eightdetail-wrapper img:first-child{
  display: block;
  margin: 0 auto;
  width: 300px !important;
}

table{
  width: 100%;
}
table tr{
  height: 40px;
  text-align: center;
}
table tr .btn{
  color: #000;
  font-weight: bold;
}
table tr input{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #f0f0f0;
}
table .width400{
  width: 400px;
  max-width: 400px;
  padding: 5px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
table .width250{
  width: 250px;
  max-width: 250px;
  padding: 5px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
table tr .btn:not(:first-child){
  margin-left: 10px;
}
table tr .btn:hover{
  color: #444;
}
